.elementor-39 .elementor-element.elementor-element-86fec01{text-align:center;}.elementor-39 .elementor-element.elementor-element-86fec01 > .elementor-widget-container{padding:50px 0px 20px 0px;}.elementor-39 .elementor-element.elementor-element-8cec21b{text-align:center;}